.container {
  color: antiquewhite;
  margin-top: 40px;
}

p {
  font-family: "Merriweather", serif;
  font-size: 20px;
}

.b {
  padding-left: 40px;
  padding-right: 40px;
}

.blog-body {
  margin: 20px 40px;
  text-align: justify;
}

.comments {
  margin: 0px;
  padding-left: 30px;
  padding-right: 30px;
  text-align: justify;
}

.text {
  line-height: 2rem;
  text-align: justify;
}

.read {
  padding-left: 0%;
  margin-left: 0%;
}

h1 {
  font-family: "IM Fell DW Pica";
  font-size: 40px;
  font-weight: bold;
}
h2 {
  font-family: "Merriweather", serif;
  font-weight: bold;
  margin-top: 30px;
  text-align: center;
  padding-top: 4px;
}

.blog-card {
  margin: 20px 40px;
  margin-bottom: 10px;
  margin-top: 0px;
  text-align: justify;
  width: 300px;
  height: 400px;
}

.card-body {
  margin-bottom: 0px;
}

.blog_background {
  position: relative;
  background-image: url("/images/bgTexturn2.png");
  background-repeat: repeat-y;
  background-size: 100% 100vh;
  background-color: rgba(67, 34, 111, 0.9);
}

.summary{
  margin: 20px 40px;
  margin-bottom: 10px;
  margin-top: 0px;
  text-align: center;
  width: 300px;
  height: 400px;
}