h1, p{
    color: white;
}
.aboutUs{
    background-color: #0e1630;
    padding: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.myImage{
        background-color: #0e1630;
        margin-top: 50px;
        margin-bottom: 50px;
        height:"300px";
        width:"300px";
}

.kunal{
    position: relative;
    background-image: url("/images/cosmos.jpg");
    background-repeat:repeat-y;
    background-size:100% 100vh;
  }

body{
    color: white;
}
